* {
    margin: 0;
    background: #f5f5f5;
    font-family: "Inter", sans-serif;
    color: #333333;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header-container h1 {
    color: #800000;
    font-size: 3rem;
}