body {
    margin: 0;
    background: #4B4756;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 60px auto;
    display: flex;
    background: #1E1B25;
    border-radius: 18px;
    overflow: hidden;
}

.left-panel {
    width: 50%;
    position: relative;
    color: white;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

.back-btn {
    color: white;
    background: rgba(255,255,255,0.15);
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.image-section img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.caption {
    position: absolute;
    bottom: 80px;
    left: 40px;
    font-size: 22px;
}
.carousel-dots {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    gap: 8px;
}

.carousel-dots span {
    width: 30px;
    height: 3px;
    background: rgba(255,255,255,0.3);
    border-radius: 3px;
}

.carousel-dots .active {
    background: white;
}

.right-panel {
    width: 50%;
    padding: 60px;
    color: white;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.login-text a {
    color: #A88BFF;
}

form {
    margin-top: 30px;
}

.name-wrapper {
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2D2936;
    color: white;
    margin-top: 12px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 18px;
    cursor: pointer;
}

.checkbox {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-btn {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background: #7F62F7;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.divider {
    margin: 25px 0;
    text-align: center;
    color: #AAAAAA;
}

.divider span {
    width: 30%;
    height: 1px;
    background: #444;
    display: inline-block;
    margin: 0 10px;
}

.social-buttons {
    display: flex;
    gap: 10px;
}

.google-btn,
.apple-btn {
    width: 50%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #555;
    background: transparent;
    color: white;
    cursor: pointer;
}
